<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Angular Pig Latin Converter</h1>
      <h2 class="mat-h2"> Converts English words or sentences to pig latin</h2>
    </div>
  </div>
</header>
<div class="container">
  <div class="inputcontainer">
    <mat-form-field>
      <input matInput placeholder="Enter your word or sentence here" type="text" autocomplete="off" [formControl]="textinput" required>
      <button mat-raised-button color="primary" matSuffix (click)="add()">Save</button>
    </mat-form-field>
    <div>
      {{convertedText}}
    </div>
    <div>
      <mat-list role="list">
        <mat-list-item *ngFor="let word of translations">{{word}}</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>